.main__container {
  margin: 0 auto;
  padding: 10%;
  width: 50%;

  h1 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      height: 50px;
      font-size: 1.2em;
      border: none;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }

    button {
      font-family: "Syne";
      height: 40px;
      font-weight: 700;
      border: none;
      color: white;
      background-color: #1d6154;
      margin: 2em auto;
      width: 180px;
      text-align: center;
      border-radius: 60px;
    }

    a {
      color: #1d6154;
      text-align: center;
    }
  }
}
